:root {
    --main-bg-color: #fbfbfd;
    --data-font: 'Orbitron', sans-serif;
    --text-font: 'Electrolize', sans-serif;
    --vex-blue: rgb(0, 119, 200);
    --vex-red: rgb(210, 38, 48);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-bg-color);
}

html,
body,
#root,
.wrapper,
.app,
.timer,
.score {
    height: 100%;
}