.referee {
    text-align: center;
    
    .matchtitle {
    }

    .bigbutton {
        display: inline-block;
        text-align: center;
        font-size: 6vh;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .redteams {
        background-color: #fc7c7c;
        margin: 5%;
    }

    .blueteams {
        background-color: #8585ff;
        margin: 5%;
    }
}