.referee {
    text-align: center;

    .button {
        display: inline-block;
        text-align: center;
        font-size: 6vh;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 5%;
    }

    .redteams {
        background-color: #fc7c7c;
        margin: 5%;
    }

    .blueteams {
        background-color: #8585ff;
        margin: 5%;
    }
}