.referee {
    text-align: center;
    
    .matchtitle {
        color: blue;
    }

    .bigbutton {
        display: inline-block;
        text-align: center;
        font-size: 8vh;
        padding-top: 20%;
        padding-bottom: 20%;

    }
}