.admin {
    background-color: #121212;
    height: 100%;
    --text-emphasis: #FFFFFFDF;
    --text-medium: #FFFFFF99;
    --text-disabled: #FFFFFF60;
    --lift-color: #FFFFFF0A;
    --color-lift: #332940;
}